<title>A-propos</title> 
	
<%= erb :menu_img%>

<section class="s_large" >
	<article id="a_propos">
		<h1><center>Un petit mot</center></h1>

		<img class="atakikoo_img" src="img/atakikoo.png">

		<p class="handwritting">Portée sur le monde de la culture et l'art (j'ai fait des études de médiation culturelle), j'ai un besoin inéhrent de comprendre et de partager. Je me sens bien dans la transmission, dans  l'échange. J'aime être confronter à d'autres idées. Autant vous dire que j'ai trouvé mon bonheur au Japon!</p>

		<p class="handwritting">Jeune femme curieuse, j'ai toujours apprécié l'Asie sans vraiment la connaître. Et avec la force des choses j'en ai découvert plus sur le Japon grâce à la pop culture. On peut dire ce que l'on veut sur les mangas et les animés (déjà il y en a de très bons) et ensuite, bongrès malgrès pour certains, ils transmettent une partie de la culture japonaise.</p>

		<p class="handwritting">Rapidement mon intêrét pour cette culture m'a envahit. Je constatais toujours cette façon différente de penser par rapport à l'autre et de se remettre en question, alors qu'avec notre vision occidental, on voyait apparaître un gros "Tout est de sa faute!! Pourquoi me remettrais-je en question!!" (Oui je caricature un peu).</p>

		<p class="handwritting">J'ai découvert une autre façon de considérer le monde. Une culture à l'opposé de la mienne, avec ses contradictions. Une douce folie nourrie des clichés que l'on connait de la culture entre modernisme, technologie et tradition. Un eveil à une nouvelle cuisine, à une nouvelle conception de vie, à une autre esthétique, bref à un nouveau monde.</p>

		<p class="handwritting">C'est dons ici que je veux exposer une de mes nouvelles obsessions: le kimono. Bien-sûr essayer de le présenter pour les nouvelles personnes qui veulent découvrir de quoi il retourne, mais aussi de l'intégrer dans un contexte (historique et actuel). Pour beaucoup le kimono, c'est le Japon. Mais pourquoi? Comment? Quelle est son interaction avec la société contemporaine? Que nous révéle-t-il du Japon?</p>

		<p class="handwritting">A défault de répondre à toutes ses questions, je veux au moins donner des pistes de réflection, pour ne pas s'arréter à cette emerveillement que l'on peut ressentir face aux beautés et à la finesse qu'exprime le kimono. Je veux m'en servir comme d'un pont pour transmettre une culture, une façon différente de voir ce qui nous entoure.</p>
		<br>
		<br> 
		<p class="handwritting" align="right">Atakikoo</p>
	</article>
</section>

