
<div>
	Merci, votre commentaire a été envoyé. 
		<BR> 
	Si vous l'avez demandé, je vous contacterai dans les plus brefs délais. 
		<BR> 
	Vous pouvez maintenant fermer cette fenêtre pour revenir au site. 
<BR> 
</div>
