<title>Bonnes adresses</title>

		<%= erb :menu_img%>


<section class="s_large" id="bonnes_adresses"></a>
	<article class="articles_b_a">
		<p class="handwritting">＼(^o^)／ En construction</p>
	</article>
</section>