
<nav id= "colonedroite">
	<ul>
		<li><a id="btn_histoire" href="histoire.erb">Histoire</a></li><br><br>
		<li><a id="btn_types"href="types.erb">Types</a></li><br><br>
		<li><a id="btn_vetir"href="vetir.erb">Vêtir un kimono</a></li><br><br>
		<li><a id="btn_les_obis"href="obis.erb">Obis</a></li><br><br>
		<li><a id="btn_culture"href="culture.erb">Culture & Kimono</a></li><br><br>
		<li><a id="btn_inspiration"href="inspiration.erb">Inspiration</a></li><br><br>
		<li><a id="btn_mes_kimonos"href="mes_kimonos.erb">Mes kimonos</a></li><br><br>
		<li><a id="btn_bonnes_adresses"href="bonnes_adresses.erb">Bonnes adresses</a></li><br><br><br><br><br><br><br>
		<li><a id="btn_a_propos"href="a_propos.erb">A propos</a></li><br>
	</ul>
</nav>

