
<nav id= "colonedroite">
	<ul>
		<li><a id="btn_histoire" href="histoire">Histoire</a></li><br><br>
		<li><a id="btn_types"href="types">Types</a></li><br><br>
		<li><a id="btn_vetir"href="vetir">Vêtir un kimono</a></li><br><br>
		<li><a id="btn_les_obis"href="obis">Obis</a></li><br><br>
		<li><a id="btn_culture"href="culture">Culture & Kimono</a></li><br><br>
		<li><a id="btn_inspiration"href="inspiration">Inspiration</a></li><br><br>
		<li><a id="btn_mes_kimonos"href="mes_kimonos">Mes kimonos</a></li><br><br>
		<li><a id="btn_bonnes_adresses"href="bonnes_adresses">Bonnes adresses</a></li><br><br><br><br><br><br><br>
		<li><a id="btn_a_propos"href="a_propos">A propos</a></li><br>
	</ul>
</nav>

