
<nav id= "colonedroite">
	<ul>
		<li><a class="histoire" href="histoire.html">Histoire</a></li><br><br>
		<li><a class="types"href="types.html">Types</a></li><br><br>
		<li><a class="vetir"href="vetir.html">Vêtir un kimono</a></li><br><br>
		<li><a class="les_noeuds"href="les_noeuds.html">Les noeuds</a></li><br><br>
		<li><a class="culture"href="culture.html">Culture & Kimono</a></li><br><br>
		<li><a class="inspiration"href="inspiration.html">Inspiration</a></li><br><br>
		<li><a class="bonnes_adresses"href="bonnes_adresses.html">Bonnes adresses</a></li><br><br><br><br><br><br><br>
		<li><a class="contact"href="contact.html">Contact</a></li><br><br>
		<li><a class="a_propos"href="a_propos.html">A propos</a></li><br>
	</ul>
</nav>