
<nav id= "colonedroite">
	<ul>
		<li><a class="boutons_colonne_droite" href="histoire">Histoire</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="types">Types</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="vetir">Vêtir un kimono</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="obis">Obis</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="culture">Culture & Kimono</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="inspiration">Inspiration</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="mes_kimonos">Mes kimonos</a></li><br><br>
		<li><a class="boutons_colonne_droite" href="bonnes_adresses">Bonnes adresses</a></li><br><br><br><br><br><br><br>
		<li><a class="boutons_colonne_droite" href="a_propos">A propos</a></li><br>
	</ul>
</nav>

