<title>Contact</title> 

	<%= erb :menu_img%> 

<section class="s_large">
	<article>
		<br>
		<center><p class="handwritting">＼(^o^)／</p></center>
		<center><p class="handwritting">Pour me contacter, vous pouvez m'envoyer un email à <a class="handwritting" href="mailto:atakikoo@myself.com?subject=Kimono Inspiration">atakikoo@myself.com</a></p></center>
		<br>
	</article>
</section>