<title>Contact</title> 
<section class="s_large">
	<article>
		<form method=POST action=contact.php target="_blank">
			<input name="name" placeholder="Votre nom" class="name" required />
			<input name="emailaddress" placeholder="Votre adresse email" class="email" type="email" required />
			<textarea rows="4" cols="50" name="subject" placeholder="Et pour finir votre message ;)" class="message" required></textarea>
			<input name="submit" class="btn" type="submit" value="Envoyer" />
		</form>
	</article>
</section>