<title>Culture et kimono</title>

<%= erb :menu_img%>

<section class="s_large">
	<article class="article_c" id="Culture et kimono">

		<h1>Culture et kimono</h1>

		<p>Pendant longtemps, le kimono en soie pouvait servir de monnaie d'échange ou de récompense. C'est bien naturellement que le recyclage de kimono c'est installer. Cela était aussi très répandu chez les moines bouddhistes

		On les retrouvait sous forme de pochettes, de serviettes, d'accessoires ou encore de poupées.</p>
	</article>
</section>

	