<!DOCTYPE html> 

<html>
	<head> 
	  	<meta charset = "utf-8" />
	  	<link rel="stylesheet" href="css/kimono.css" />
					<!--[if lt IE 9]>
					<script src="http://html5shiv.google.com/svn/trunk/html5.js" ></script>
					<![endif]-->	
					
					<!--[if lte IE 7]>
					<link rel="stylesheet" href="style_ie.css" />
					<![endif]-->

		<link rel="stylesheet" type="text/css" href="css/colonne_droite_boutons.css" />

		<link rel="stylesheet" type="text/css" href="css/inspiration.css" />

		<link rel="stylesheet" type="text/css" href="css/menu_img.css" />
		
		<link rel="stylesheet" type="text/css" href="css/contact.css" />

		
		<link rel="shortcut icon" type="image/icon" href="img/favicon.ico">

	    <meta name="ROBOTS" content="NOODP" />

	    <meta name="description" content= "Site d'informations sur le kimono: histoire, tendances, bonnes adresses et banque d'images. Le tout pour apprécier une des particularité japonaise des plus atypiques" />
		
		<meta name="keywords" content= "site d'informations, culture, japonaise, japon, Japon, Japan, kimono, kimonos, obi, geisha, getta, neko, tradition, histoire kimono, curiosité, inspiration, inspirations, esthétique" />

		<title>Kimono inspiration></title>

	  	<script type="text/javascript">(function(d){  
			var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');  
			p.type = 'text/javascript';  
			p.async = true;  
			p.src = '//assets.pinterest.com/js/pinit.js';  
			f.parentNode.insertBefore(p, f);
			}(document));
		</script>


		<!-- fancyBox -->
		<!-- Add jQuery library -->
		<script src="//code.jquery.com/jquery-2.1.2.min.js"></script>

		<!-- mousewheel plugin -->
		<script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

		<!-- fancyBox -->
		<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js"></script>

		<!-- Optionally add helpers - button -->
		<link rel="stylesheet" href="js/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<script type="text/javascript" src="js/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>

		<script type="text/javascript" src="js/client.js"></script>
	</head> 

	<body> 

		<header class="en-tete">

			<div>
				<center><a id="home_img" href="home"><img src="img/kimonopresentation.jpg"></center>

				<center><a id="contact_icon" href="https://www.youtube.com/playlist?list=PLpnO2iS6617mOIo_-isA2LoHuukoU6Imk"><img src="img/youtube.png"></center></center>
				<br>
				<center><a id="contact_icon" href="https://www.pinterest.com/Atakikoo/"><img src="img/pinterest.png"></center>
				<br>
				<center><a id="contact_icon" href="contact"><img src="img/contact.png"></center>
			</div>
				
		</header>
		