<!DOCTYPE html> 

<html>
	<head> 
	  	<meta charset = "utf-8" />
	  	<link rel="stylesheet" href="kimono.css" />
					<!--[if lt IE 9]>
					<script src="http://html5shiv.google.com/svn/trunk/html5.js" ></script>
					<![endif]-->	
					
					<!--[if lte IE 7]>
					<link rel="stylesheet" href="style_ie.css" />
					<![endif]-->

		<link rel="stylesheet" href="colonne_droite_boutons.css" />

		<link rel="stylesheet" href="inspiration.css" />

		<link rel="stylesheet" href="menu_img.css" />

		<link rel="stylesheet" href="articles.css" />
		
		<link rel="stylesheet" href="contact.css" />
		

	    <meta name="ROBOTS" content="NOODP" />

	    <meta name="description" content= "Site d'informations sur le kimono: histoire, tendances, bonnes adresses et banque d'images. Le tout pour apprécier une des particularité japonaise des plus atypiques" />
		
		<meta name="keywords" content= "site d'informations, culture, japonaise, japon, Japon, Japan, kimono, kimonos, obi, geisha, getta, neko, tradition, histoire kimono, curiosité, inspiration, inspirations, esthétique" />

		<title>Kimono inspiration></title>

	  	<script type="text/javascript">(function(d){  
			var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');  
			p.type = 'text/javascript';  
			p.async = true;  
			p.src = '//assets.pinterest.com/js/pinit.js';  
			f.parentNode.insertBefore(p, f);
			}(document));
		</script>
	
	</head> 

	<body> 

		<header class="en-tete">

			<div>
				<center><a id="home_img" href="home.erb"><img src="img/kimonopresentation.jpg"></center>

				<center><a id="contact_icon" href="https://www.youtube.com/playlist?list=PLpnO2iS6617mOIo_-isA2LoHuukoU6Imk"><img src="img/youtube.png"></center></center>
				<br>
				<center><a id="contact_icon" href="https://www.pinterest.com/Atakikoo/"><img src="img/pinterest.png"></center>
				<br>
				<center><a id="contact_icon" href="contact.erb"><img src="img/contact.png"></center>
			</div>
				
		</header>
		