<title>Histoire du kimono</title> 

	<%= erb :menu_img%>

	<section class="s_large">
		<article class="article_h" id="Histoire du kimono">
			
			<h1>Histoire du kimono</h1>

			<p>Menacé par l'expansionnisme occidental, le Japon se referme sur lui-même en 1641 conservant des rapports avec la Chine, la Corée et la Hollande. Son accès est strictement limité à une partie de Nagasaki appelée « Dejima ». La réouverture aux étrangers aura lieu en 1868 avec la restauration de Meiji.</p>
			
			<p>1867, c'est le choc culturel avec la première participation du Japon à l'exposition universelle. Le goût, le raffinement  japonais créeront un engouement qui trouvera son apogée dans le mouvement artistique du « Japonisme ». Un belle exemple de cet intérêt se cristallisera dans la revue mensuelle « Le Japon artistique » entre 1888 et 1891. Première grande confrontation du peuple français au Japon qui dévoilera les estampes du monde flottant « Ukiyo-e », univers des courtisanes et des acteurs, des kimonos (vêtements japonais).</p>

			<p>La fascination d'alors des étrangers pour le kimono était puissante, comme chez les japonais eux-même d'ailleurs <blockquote> « comme le prouve de très nombreuses représentation picturales de costumes ainsi que l'abondance de descriptions détaillées de toilettes qui apparaissent à toutes les époques de la littérature japonaise ».<a name="citation1" href="#1">(1)</a></blockquote>
				<br>

			<h2>Le kimono des origines à Meiji</h2>

			<p>Kimono : « chose que l'on porte sur soit », renvoient à n'importe quel vêtement d'après les caractères <i>kiru</i> et <i>mono</i> mais à l'heure actuelle il désigne le vêtement traditionnel japonais reconnaissable entre tous et porté par hommes et femmes.<br>
			Le kimono prend son origine à l'époque d'Edo , avec le kosode, ancien vêtement de dessous appelé « manche courte ». le terme kimono sera réellement utilisé à partir du 19éme siècle en opposition au vêtements occidentaux.</p>

			<p>Les premières représentations des vêtements japonais au 5ème siècle av. J.C se révèlent, comme dans d'autres pays d'Asie septentrional, mêlant un pantalon et une veste de col montant. Avec la culture du riz, le vêtement s'ouvre devant et les manches s'élargissent avec une ouverture au poignet. L'on voit apparaître les bases du kimono que nous connaissons.<br>
			L'influence de la culture chinoise et l'introduction de la religion bouddhiste au 7éme siècle influencera grandement la mode, avec un accent mis sur les soieries. C'est à partir de l'époque Heian (794-1185) que le costume spécifiquement japonais voit le jour. Souci d'élégance, , harmonies de couleurs et nouveaux décors, s'imposent aux dames de la cour. Le <i>jûni-hitoe</i> supperposant 12 robes se croisant sur la poitrine en un dégradé de couleurs variant avec les saisons, révélant le bon goût d'une femme au jugement de l'harmonie des couleurs apparaissant avec ses manches.<br>
			Une simplification du vêtement sera opéré à l'époque Kamakura (1185-1333) avec l'influence du bouddhisme zen. Les maîtres mots sont simplicité et discipline. Le nombre de robes diminue. Le simple kosode s'impose durant le jour. Et au XVéme siecle il est le vêtement le plus porté par les deux sexes, comme à l'heure actuelle.</p>

			<h3>Couture et kimono</h3>

			<p>Un rouleau de onze mètres de long sur trente-six centimètres de large permet une absence totale de gaspillage liée à une extrême simplicité du patron. Coupé dans un seul bloc de tissu qui peut varier en longueur mais pas en largueur, appelé <i>nishijin-ori</i>. Le patron est toujours le même.<br>
			Entant que vêtement « plat », coupé selon des lignes droites, la personne qui le porte doit construire son vêtement au fur et à mesure de l'habillage, adaptant la longueur du kimono, croisant le pan gauche sur le droit (l'inverse concernant les morts), adaptant le tour de taille et serrant le tout avec une ceinture appelé obi. Le kimono masque complètement le forme du corps en dehors du visage, des mains et de la nuque.</p>

			<h3>Mode</h3>

			<p>Subissant les effets de mode, le kimono de parera de nouvelles étoffes, de couleurs, dessins et de nouvelles techniques. Avec l'enrichissement des marchands, des lois somptuaires verront le jour. Imposé par la cour puis par les shoguns, les marchands ne seront plus autorisés à porter ce que bon leur semble. Les nobles veulent éradiquer toute amalgame, <q>Il ne doit pas y avoir de confusion possible entre le prince et son vassal, entre le supérieur et l'inférieur </q><a name="citation2" href="#2">(2)</a>. les interdictions touchaient toutes les classes de la population et rendaient visible les différences de statut social. Le port de la soie était réservée à la cour, ainsi que certaines techniques de tissage et certaines couleurs.</p>

			<h3>Couleurs</h3>

			<p>La « couleur » <i>iro</i>  fait allusion à bien plus que de simple teinte, il y a des implications métaphoriques et culturelles. La couleur était aussi utilisé comme système de rang à la cour. Au XVIIIéme siécle, <i>iro</i> avait le sens de « passion » ou « d'amour ». Même aujourd'hui il y a une nuance d'intimité ou d'attirance avec ce mot. Les couleurs sont réservées à la jeunesse et particulièrement le rouge qui la symbolise. Les interdictions étaient aussi liées aux prix de pigments rares et donc très chers. Plus tard, la classe moyenne, les marchands trouvèrent d'autres pigments pour contourner les interdictions et teindre leurs doublures, et osèrent de plus voyant usages.</p>

			<h3>Décor</h3>

			<p>Sans limitation, les artisans pouvaient travailler les décors des kimonos et particulièrement le dos qui se présente comme un large panneau (ou toile) à travailler.<br>
			Le obi apparaît au 8ème siècle pour remplacer la corde de chanvre. La ceinture était d'abord étroite, plate ou en forme de tresse appelé obi de Nagoya, nouée devant derrière ou sur le coté. Pendant l'ère Genroku, elle devint de plus en plus large jusqu'à sa taille maximum au 19éme siècle. Cela fût logique de laisser un blanc dans le décor du kosode situé à la taille. 
			L'enrichissement des classes moyennes au 16éme siècle poussa l'artisant vers un mélange des techniques.<br>
			Tsujigahana: nouveau style de décor mélangeant teinture à nœud, broderie, ajout de feuilles d'or, peinture.</p>

			<p>Yûzen-zome :technique utilisant des réserves grâce à la colle de riz et la teinture au pinceau créer par Miyazaki Yûzen (moine illustrant des sujets appartenant à la littérature) comme les Contes d'Ise ave un décor d'iris et de pont de planches</p>


			<p>Les thèmes les plus répandus sont liés à la nature : fleurs, oiseaux, lune, vent, mer, rivière, nuages, et bien-sûr aux saisons.<br>

					Printemps : fleurs de cerisier<br>

					Eté : vagues et océan<br>

					Automne : feuilles d'érable<br>

					Hiver : paysage de neige</p>


			<p>Le tout combine des symboles : 
			le pin =  longévité<br>
			bambou = âme de l'homme aux prises avec les difficultés de la vie<br>
			bambou + moineau ou tigre = bonheur<br>
			aigle = force (pour garçon) <br>
			la grue = chance et longévité (pour nouvel an)<br>
			la tortue = longévité et symbole cosmique<br>
			la carpe = endurance et courage<br>
			le sansuiga (peinture de paysage)<br>
			le meisho-e (reproduction de sites célèbres) les cents vues du mont Fuji d'Hiroshige. A l'époque d'Edo , les voyages sont plus faciles</p>

			<p>La classe moyenne se tourna vers des scènes de genre (vie de tous les jours, fêtes, ou objets)</p>

			<p>Des Livres de modèles de kimono appelé <i>hiinakata-bon</i> font leur apparition.</p>
				<br>

			<h2>Kimono et art</h2>
			
			<p>Au Japon, il n'y a aucune distinction entre beaux-arts et arts décoratifs. Kimonos, éventails, paravents sont décorés avec la même attention et par les mêmes artistes.</p>

			<p>L'amour du vide est une des constantes de esthétique japonaise ainsi que a recherche de l'excellence et  de l'élégance qui sont définit par Kuki Shûzô comme « exempt de toute grossièreté, raffiné, tout de charme et de sophistication, de ressort, sans le moindre avachissement ». L’incarnation de cette idée se retrouve dans la perception rapide de la robe de dessous peint en rouge, révélatrice <q> d'une élégance cachée, suggérée et non complètement dévoilée».<a name="citation3" href="#3">(3)</a></p>
			<br>

			<h2>Le kimono aujourd'hui</h2>

			<p>Avec l'ouverture au monde, le kimono doit s'adapter à des nouveaux modes de vie. Il se raccourci pour ne plus dépasser la cheville. Le obi s’enrichit de tissage, de décors, de façon de le nouer, tout en s'élargissant. Le hakama (pantalon plissé) est réutilisé par les femmes qui travaillent, à l'école, et par les professeurs. 
			Onéreux, le prix d'un kimono peut s’élever à plusieurs milliers d'euros. De nos jours, le kimono est surtout connu par le biais du jour des vingt ans (<i>seijin shiki</i>), où les jeunes japonaises portent un <i>furisode</i>. Parmi les plus chers, le <i>furisode</i> porté pour cette fête est souvent loué pour l'occasion. <br>
			L'on trouve aujourd'hui des kimonos synthétiques, facile à laver et à entretenir contrairement à ceux réalisés traditionellement en soie. Le yukata s'impose pour l'été et les nombreux <i>matsuri</i> estivales grâce a la légéreté et au prix que lui confère le conton.</p>
				<br>

			<h2>Des kimonos et des hommes</h2>

			<p>Les hommes n'ont accés qu'à 5 accessoires contrairement aux femmes (10). Un kimono d'homme est sombre et, le plus souvent, d'une seule couleur : noir, bleu indigo, vert foncé, parfois marron. Les motifs, s'il y en a, sont subtils, et se trouvent plutôt sur les kimonos informels. Ces derniers peuvent être de couleur plus vive aussi : violet, vert et bleu plus clair. Dans sa forme, le kimono pour homme se différencie par l'attache des manches. en effet les manches des hommes sont presque totalement reliées au reste du kimono et fermées, alors que celles des femmes sont largement ouvertes et très détachées.</p>

			<p>Le kimono le plus formel pour un homme est de soie noire, avec cinq <i>mon</i> (un dans le dos, un au dos de chaque manche et un sur chaque côté de la poitrine). Puis par ordre, le nombre de <i>mon</i> fait un kimono un peu moins formel : trois <i>mon</i> (sur le dos et poitrine), un <i>mon</i> (sur le dos).<br>
			Un homme peut rendre presque n'importe quel ensemble plus formel en portant un hakama ou un haori (veste courte).</p> 

			<p>Mais il a existé en certaines époques, où les hommes portés des kimonos éblouissants :
			<blockquote>Pendant la période Genroku un goût pour le clinquant et la magnificience ostentatoire s'empara du coeur des hommes et affecta non seulement leurs vêtements mais jusqu'à la courbure de leurs sabres, et l'ornementation de ces sabres et la dague qu'ils portaient accrochée au fourreau. Il suffit d'un regard aux équipages tapageurs et aux luxueux divertissements dépeints sur les tableaux de genre de Moronobu Hishikawa pour  imaginer la somptuosité de cette époque dominée par l'opulence raffinée des bourgeois et des marchands.<a name="citation4" href="#4">(4)</a></blockquote></p>
				<br>

					<br><br><br>
			<a class="citation" name="citation1"><em>1:</em><strong> Aude Fieschi, Kimono d'art et de désir<em> Arles , Editions Philippe Picquier, 2012 (2002), p.10.</em></strong></a>
				<br>
			<a class="citation" name="citation2"><em>2: Lois pour les maisons militaires de 1615.</em></a>
				<br>
			<a class="citation" name="citation3"><em>3:</em><strong> Aude Fieschi, Kimono d'art et de désir<em>, Arles , Editions Philippe Picquier, 2012 (2002), p.59.</em></strong></a>	
				<br>
			<a class="citation" name="citation4"><em>4:</em><strong> Mishima, Le Japon moderne et l'éthique samouraï<em> traduction d'Emile Jean, Gallimard, coll "Arcades", 1985.</em></strong></a>	
		</article>

		<article class="article_h" id="le_mon">
			<h3>Petite présicion: le <i>mon</i></h3>

			<center><img src="/img/histoire/imperial_mon.png"><p><i>mon</i> impérial</p></center>

			<p>Le <i>kamon</i> est le blason familliale, formé de fleurs, plante ou encore d'animaux stylisés. A l'époque Kamakura, le <i>mon</i> était porté par les samouraïs, ou représenté sur leurs bannières pour être identifiable durant les combats. Le <i>mon</i> impérial est lui composé d'un chrysanthème à 16 pétales dorés. Les gens du commun n'en possédaient bien-sũr pas.</p>
			
			<center><img src="/img/histoire/montypes.jpg"></center>

			<p>Si il n'y qu'un <i>mon</i>, celui choisit representera la famille <i>kamon</i>. Celui de jeune fille pour une femme est appellé <i>onnamon</i>. Porté un seul blason est appelé <i>hitotsu mon</i>, trois <i>mitsu mon</i> and cinq <i>itsutsu mon</i>. <br>
			Il y a aussi différents types de <i>mon</i>. Ci-dessus est représentée le <i>ichô mon</i> ou l'emblème de la feuille ginkgo, qui est actuellemnt plus utilisé comme un motif que comme un réel <i>mon</i> famillial. Il est représenté dans différent styles : <i>hinata</i> pleine lumière (gauche), <i>kage</i> ombre (milieu), and <i>nakakage</i> mi-ombre (droite), qui indique le degré de discrétion.. Moins la situation est formel et plus le <i>mon</i> sera clair. Il existe aussi un <i>mon</i> brodé appelé <i>nui mon</i>.</p>
		</article>

	</section>
</nav>

