<title>Kimono inspiration, page d'accueil</title> 

<%= erb :menu_img%>

<%= erb :pinterest_widget%>


<section class="s_etroit">
	<article class="article" id="home_page">
		<h3>Bonjour à tous!!!!</h3>
		<br>
		<a>Voici mon premier site en construction.</a>
		<br>
	</article>
</section>


