<title>Inspiration</title>


<section class="s_large_min">
	<article  id="inspiration_text">

		<h2>Besoin d'inspiration...!</h2>
		<p class="handwritting">Je partage avec vous mes petites trouvailles du net en matière de kimono. Bien-sûr vous pouvez me demander en amie sur Pinterest et pourquoi pas me soumettre vos pins pour que je les ajoute au site, voir de nouvelles idées de board! </p> 
		<center>＼(^o^)／</center>
	</article>
	<article class="article_vignette">
<%= erb :pinterest_widget_big1%>
	</article>	
</section>



