<!DOCTYPE html> 

<html>
	<head> 
	  <meta charset = "utf-8" />
	  <link rel="stylesheet" href="kimono.css" />
					<!--[if lt IE 9]>
					<script src="http://html5shiv.google.com/svn/trunk/html5.js" ></script>
					<![endif]-->	
					
					<!--[if lte IE 7]>
					<link rel="stylesheet" href="style_ie.css" />
					<![endif]-->

		<link rel="icon" href="" />				

	    <meta name="ROBOTS" content="NOODP" />

	    <meta name="description" content= "Site d'informations sur le kimono: histoire, tendances, bonnes adresses et banque d'images. Le tout pour apprécier une des particularité japonaise des plus atypiques" />
				<meta name="keywords" content= "site d'informations, culture, japonaise, japon, Japon, Japan, kimono, kimonos, obi, geisha, getta, neko, tradition, histoire kimono, curiosité, inspiration, inspirations, esthétique" />

	   <title>Kimonos et inspirations, page d'accueil</title> 

	   <script type="text/javascript">(function(d){  
	   		var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');  
	   		p.type = 'text/javascript';  
	   		p.async = true;  
	   		p.src = '//assets.pinterest.com/js/pinit.js';  
	   		f.parentNode.insertBefore(p, f);
	   		}(document));
	   </script>
	

	</head> 
		

	<body> 

		<header class="en-tete">
				<center><a href="Html-kimono.html"><img src="img/kimonopresentation.jpg"></center>
		</header>

		<div id="bloc_page">
			<nav id= "colonedroite">
				<ul>
					<li><a class="histoire" href="histoire.html">Histoire</a></li><br><br>
					<li><a class="types"href="types.html">Types</a></li><br><br>
					<li><a class="vetir"href="vetir.html">Vêtir un kimono</a></li><br><br>
					<li><a class="les_noeuds"href="les_noeuds.html">Les noeuds</a></li><br><br>
					<li><a class="culture"href="culture.html">Culture & Kimono</a></li><br><br>
					<li><a class="inspiration"href="inspiration.html">Inspiration</a></li><br><br>
					<li><a class="bonnes_adresses"href="bonnes_adresses.html">Bonnes adresses</a></li><br><br><br><br><br><br><br>
					<li><a class="contact"href="contact.html">Contact</a></li><br><br>
					<li><a class="a_propos"href="a_propos.html">A propos</a></li><br>
				</ul>
			</nav>

			<div id="rubriqueimg">
				<div id="CULTURE"><a href="culture.html"><img id="cultureimg" src="img/culture_img.jpg" class="survole"></div>
	            <div id="HISTOIRE"><a href="histoire.html"><img id="histoireimg" src="img/histoire_img.jpg"class="survole"></div>
	            <div id="LES_NOEUDS"><a href="les_noeuds.html"><img id="les_noeudsimg" src="img/les_noeuds_img.jpg"class="survole"></div>
            </div>

		    <div id= "inspiration">
		    	<a data-pin-do="embedBoard" href="http://fr.pinterest.com/Atakikoo/kimonos/"data-pin-scale-width="93" data-pin-scale-height="600" data-pin-board-width="250">Miiiiiiaaaaouuuuuu</a>
			</div>

			<nav id="articles">
				<%= yield %>	
			</nav>
		</div>
	</body>


	 <footer>
	 </footer>


</html> 