<div id="rubriqueimg">

	<div id="CULTURE">
		<a href="culture.erb">
			<img id="cultureimg" src="img/culture_img.jpg" class="survole">
		</a>
	</div>

  <div id="HISTOIRE">
  	<a href="histoire.erb">
  		<img id="histoireimg" src="img/histoire_img.jpg"class="survole.img">
		</a>
	</div>

  <div id="LES_NOEUDS">
  	<a href="obis.erb">
  		<img id="les_noeudsimg" src="img/les_noeuds_img.jpg"class="survole_img">
		</a>      
	</div>
	
</div>