<div id="rubriqueimg">

	<div id="CULTURE">
		<a href="culture">
			<img id="cultureimg" src="img/culture_img.jpg" class="survole">
		</a>
	</div>

  <div id="HISTOIRE">
  	<a href="histoire">
  		<img id="histoireimg" src="img/histoire_img.jpg"class="survole.img">
		</a>
	</div>

  <div id="LES_OBIS">
  	<a href="obis">
  		<img id="les_obisimg" src="img/les_noeuds_img.jpg"class="survole_img">
		</a>      
	</div>
	
</div>