<title>Mes kimonos</title>

<%= erb :menu_img%>


<section class="s_large">
	<article class="article_mes_kimonos" id="Shootings_en_kimono">
		<div class="">
			<center><h2>Shooting photo en kimono</h2>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(3).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(3) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(4).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(4) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(5).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(5) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(8).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(8) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(9).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(9) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(10).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(10) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(11).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(11) (copy).jpg" title="The green day" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/mes_kimonos(12).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/mes_kimonos(12) (copy).jpg" title="The green day" height="150"/></a>
			</center>
		</div>
	</article>

	<article class="article_mes_kimonos" id="kimono_et_obis">
		<div class="">
			<center><h2>Kimonos et obis</h2> <!--kimonos--> 
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono1.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono1 (copy).jpg" title="Kimono komon vert à fleurs" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono2.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono2 (copy).jpg" title="Kimono komon blanc et orange aus motifs végétals" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono2-1.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono2.1 (copy).jpg" title="Détail Kimono komon blanc et orange aus motifs végétals" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono3.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono3 (copy).jpg" title="" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono4.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono4 (copy).jpg" title="Kimono tsukesage bleu ciel aux motifs de points sur le bas des manches et du kimonos" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/kimono5.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/kimono5 (copy).jpg" title="Kimono komon argenté aux motifs de losanges et de grues pourpres" height="150"/></a>

			<!--obis--> 
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 3.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 3 (copy).jpg" title="Obi noir et rouge aux roues à fleurs" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 4-1.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 4-1 (copy).jpg" title="Obi lignes rouges, jaunes, blanches" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 5-2.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 5-2 (copy).jpg" title="Obi nuges et fleurs dorées" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 6.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 6 (copy).jpg" title="Obi oranges à fleurs" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 7-2.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 7-2 (copy).jpg" title="Obi géométrique rouge, rose et blanc" height="150"/></a>

			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obi 8.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obi 8 (copy).jpg" title="Obi vert, jaune pâle et oranges aux fleurs de pruniers" height="150" /></a>
			</center>
		</div>
	</article>

	<article class="article_mes_kimonos" id="accessoires">
		<div class="">
			<center><h2>Les accessoires</h2>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/obidome.jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/obidome (copy).jpg" title="Le renard" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/hair (8).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/hair (8) (copy).jpg" title="Pic doré" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/hair (7).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/hair (7) (copy).jpg" title="Pince orange" height="150" /></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/hair (5).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/hair (5) (copy).jpg" title="Peigne floral" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/hair (4).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/hair (4) (copy).jpg" title="Peigne à feuilles dorées" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/hair (3).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/hair (3) (copy).jpg" title="Pic géométrique en bois" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (10).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (10) (copy).jpg" title="Obijime plat bleu et terre" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (9).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (9) (copy).jpg" title="Obijime rond blanc et rouge" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (8).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (8) (copy).jpg" title="Obijime bleu marine à perles blanches" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (7).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (7) (copy).jpg" title="Obijime matelassé rouge et or" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (4).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (4) (copy).jpg" title="Ceinture à fleurs rouge et orange " height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (3).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (3) (copy).jpg" title="Ruban rouge à fleurs blanche et vert" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (2).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (2) (copy).jpg" title="Ruban blanc à petites fleurs et gris" height="150"/></a>
			<a class="fancybox fancybox-buttons" data-fancybox-group="button" rel="group" href="img/mes_kimonos/fabric (1).jpg"><img class="gallerie_mes_kimonos" src="img/mes_kimonos/fabric (1) (copy).jpg" title="Ruban rouge et violet" height="150"/></a>
			</center>
		</div>
	</article>
</section>
