<title>Le obi</title>

<section class="s_large"></a>
	<article class="articles_obis" id="Le obi">
		<h1>Le Obi</h1>

		<p>Dans le dictionnaire Larrousse, le obi est défini de cette façon : dans le costume traditionnel japonais, c'est une large ceinture de soie portée sur le kimono et formant un nœud dans le dos.</p>

		<h3>Rapide rappel historique</h3>

		<p>Bien que s'agissant d'une simple corde de chanvre, la ceinture traditionnelle japonaise fait son apparition dès le ve siècle sur les statuettes haniwa. Elle se transforme par la suite en un simple ruban d'environ 3 cm de large et ne prendra sa forme large (15 cm) qu'à la fin du xvie siècle ce qui lui permettra de jouer un rôle plus décoratif. À cette époque, l'obi pouvait se porter aussi bien dans le dos que sur le côté. <br>
		Le xviiie siècle marquera une grande période de progrès dans la fabrication de l'obi, notamment dans le domaine du tissage et de la teinture, permettant ainsi la création de motifs particulièrement extravagants.<br>
		Enfin, la période Meiji confirmera la forme finale de l'obi et rendra son port dans le dos systématique.</p>
		
		<p>Une différence symbolique s'est installer entre les femme du peuple et les courtisanes, prostituées qui mettaient le noeud devant pour se faciliter la vie. Une aisance pour le rhabillage bien appréciée.</p>
	</article>
</section>
