<div id= "inspiration">
	<a data-pin-do="embedBoard" href="http://fr.pinterest.com/Atakikoo/kimonos/"data-pin-scale-width="93" data-pin-scale-height="600" data-pin-board-width="250">Miiiiiiaaaaouuuuuu</a>
</div>