<div id= "inspiration_weared_kimono">
	<a data-pin-do="embedBoard" href="http://www.pinterest.com/Atakikoo/weared-kimono/"data-pin-scale-width="208" data-pin-scale-height="1200" data-pin-board-width="900"></a>
</div>

<div id= "inspiration_kimonos">
	<a data-pin-do="embedBoard" href="http://www.pinterest.com/Atakikoo/Kimonos/"data-pin-scale-width="208" data-pin-scale-height="1000" data-pin-board-width="900"></a>
</div>

<div id= "inspiration_kimono_men">
	<a data-pin-do="embedBoard" href="http://www.pinterest.com/Atakikoo/Kimono-men/"data-pin-scale-width="208" data-pin-scale-height="800" data-pin-board-width="900"></a>
</div>