<title>Les différents types de kimonos</title>


<section class="s_large_min">
	<article class="article_types" id="types">
		<h1>Les différents types de kimono</h1>

		<p>Le choix du kimono est strictement lié au degré de solennité de l'occasion. Les bons usages sociaux imposent donc les choix des dessins et des couleurs et du type de tissu.</p>
</section>

<section class="s_vignette" class="article_types" id="types">
	<span id="vignette" >
			
		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/furisode.jpg">
			<p><strong>Furisode</strong>: (manche flottante) Caractérisé par de longues manches avec des motifs colorés et brillant sur la haut et le bas. Un kimono formel pour les jeunes femmes célibataires.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/kurotomesode.jpg">
			<p><strong>Kurotomesode</strong>: Kimono noir aux motifs colorés sur la bas avec 5 <i>kamon</i>: un sur le dos de chaque manche, un au milieu du dos, et un sur le devant de chaque épaule. Kimono le plus formel pour les femmes marriées.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/irotomesode.jpg">
			<p><strong>Irotomesode</strong>: Comme le Kurotomesode, mais il n'at pas noir avec 3 ou 5 <i>kamon</i>. Juste un peu moi formel que le Kurotomesode.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/houmongi.jpg">
			<strong>Houmongi</strong>: Pour femmes mariées et célibataires, est <p>un kimono formel mais semi_décontarcté. Il posséde des motifs colorés dans le dos et sur les manches.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/tsukesage.jpg">
			<strong>Tsukesage</strong>: Pour femmes mariées et célibataires, un <p>peu moins sophistiqué que le Houmongi avec des motifs moins réguliers.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/iromuji.jpg">
			<p><strong>Iromuji</strong>: D'une seule couleur avec des motifs que sur les accessoires. </p></span>


		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/komon.jpg">
			<p><strong>Komon</strong>: Kimono décontracté, de la vie de tous les jours, il posséde des motifs réparties de façon homogène sur toute sa surface. Avec un beau <i>obi</i>, il sera assez formel pour une sortie au restaurant.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/edo_komon.jpg">
			<strong>Edo komon (Edo komon?)</strong>: un type de komon caractérisé par de minuscules points qui forment des motifs. La technique de teinture d'edo komon a ses origines dans la période Edo. Un edo komon est aussi formel qu'un iromuji; quand il comporte des kamon (un seul kamon étant le plus courant, mais il en existe avec trois), il peut être porté aux mêmes événements qu'un tsukesage ou houmongi.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/yukata.jpg">
			<strong>Yukata</strong>: Kimono d'été, fait de coton en général porté pour aller aux festivals, par les femmes, les hommes et lesenfants. Le yukata est  également porté aux <i></i>onsen</i> (sources chauds), où il est souvent fourni par l'établissement, on parle alors de <i></i>yukatabira</i>.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/mofuku.jpg">
			<strong>Mofuku</strong>: Pour les funérails.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/haori.jpg">
			<strong>Haori</strong>: Veste courte à porté sur le kimono.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/michiyuki.jpg">
			<strong>Michiyuki</strong>: Manteau porté sur le kimono avec un col de forme carré, se porte sans ceinture.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/ama_michiyuki.jpg">
			<strong>Ama Michiyuki</strong> : Plus long que le Michiyuki, manteau qui protége de la pluie, et aide à garder le kimono sec. Souvent en soie, silk, tissé fermement pour aider à repousser la pluie.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/juban.jpg">
			<strong>Juban</strong>: Aussi appelé <i>nagajuban</i>, c'est une robe sous-vêtement qui protége le kimono de la transpiration. il existe aussi un juban en 2 parties <i>hanjuban</i> et <i>susoyoke</i>.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/hakama.jpg">
			<strong>Hakama</strong>: Un pantalon ou robe plissée qui se porte sur le kimono.</p></span>

			<h3>Autres</h3>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/kakeshita.jpg">
			<strong>Kakeshita</strong>: Kimono de mariage de la forme d'un Furisode avec des motifs éparts. Dernier Furisode portée par la furtur mariée.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/shirokakeshita.jpg">
			<strong>Shirokakeshita</strong>: Kimono blanc de mariage porté pendant la cérémonie <i>shinto</i>. Porté avec manteau blanc somptueux (shiromuku uchikake), Avec une coiffure habillé soit par un <i>tsunokakushi</i> (qui couvre les "cornes de la jalousie") ou un <i></i>wataboushi</i>. Il est possible d'être habillé aux couleurs de la famille mais le Shirokakeshita est considéré comme le plus formel.  La marié pourra changer son Uchikake contre un coloré et plus tard avec un Hikifurisode très coloré (aussi appelé Hanayome Furisode).Pendant la journée, la marié peut changer jusqu'à 5 fois de tenues pour finir avec Tomesode. Beaucoup se marie juste avec un Nowadays H ikifurisode ou Kakeshita. </p>	</span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/uchikake.jpg">
			<strong>Uchikake</strong>: Un incroyablement lourd et somptueux kimno utilisé comme un manteau par les mariées.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/susohiki.jpg">
			<strong>Susohiki et Hikizuri</strong>: Porté pour la dance traditionnel, souvent par les <i>geisha</i> (Susohiki avec des manches courtes "kosode") et les <i>maiko</i> (avec des manches furisode), il est plus long que la normale pour accompagner d'une façon esthétique les mouvements.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/uppawari.jpg">
			<p><strong>Uppawari</strong>: Veste à porter à la maison sur le kimono.</p> </span>
		
		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/dochougi.jpg">
			<p><strong>Dochougi</strong>: Veste bien chaude à porter sur le kimono.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/neneko.jpg">
			<p><strong>Neneko</strong>: Veste chaude rembourrée avec les manches en partie fermées.</p></span>

		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/happi.jpg">
			<p><strong>Happi</strong>: Souvent en coton, cette veste se porte pendants les festivals, à des événements d'entreprises ou de groupes divers.</p></span>


		<span class=vignette>
			<img id="vignette_img" src="img/types_kimono/hanten.jpg">
			<p><strong>Hanten</strong>: Veste en coton un peu plus épaisse que le Happi porté par les livreurs et dans les festivals.</p></span>
	</span>
</section>

