<title>Les différents types de kimonos</title>

	<%= erb :menu_img%>

<section class="s_large_min">
	<article class="article_types" id="types">
		<h1>Les différents types de kimono</h1>

		<p>Le choix du kimono est strictement lié au degré de solennité de l'occasion. Les bons usages sociaux imposent donc les choix des dessins et des couleurs et du type de tissu.</p>
</section>

<section class="s_vignette" class="article_types" id="types">
	<span id="vignette" >	
		<span class="vignette_types v_taille_420">
			<center><img src="img/types_kimono/furisode.jpg"></center>
			<div class="text_bas"><p><strong>Furisode</strong><br>(manche flottante) Caractérisé par de longues manches avec des motifs colorés et brillants sur la haut et le bas. Un kimono formel pour les jeunes femmes célibataires.</p></div></span>

		<span class="vignette_types v_taille_420">
			<center><img class="img_types" src="img/types_kimono/kurotomesode.jpg"></center>
			<div class="text_bas"><p><strong>Kurotomesode</strong><br>Kimono noir aux motifs colorés sur la bas avec 5 <i>kamon</i>: un sur le dos de chaque manche, un au milieu du dos, et un sur le devant de chaque épaule. Kimono le plus formel pour les femmes marriées.</p></div></span>

		<span class="vignette_types v_taille_420">
			<center><img class="img_types" src="img/types_kimono/irotomesode.jpg"></center>
			<div class="text_bas"><p><strong>Irotomesode</strong><br>Comme le Kurotomesode avec 3 ou 5 <i>kamon</i>, mais il n'ait pas noir . Juste un peu moins formel que le Kurotomesode.</p></div></span>

		<span class="vignette_types v_taille_390">
			<center><img  class="img_types" src="img/types_kimono/houmongi.jpg"></center>
			<div class="text_bas"><p><strong>Houmongi</strong><br>Pour femmes mariées et célibataires, est un kimono formel mais semi-décontracté. Il posséde des motifs colorés dans le dos et sur les manches.</p></div></span>

		<span class="vignette_types v_taille_390">
			<center><img class="img_types" src="img/types_kimono/tsukesage.jpg"></center>
			<div class="text_bas"><p><strong>Tsukesage</strong><br>Pour femmes mariées et célibataires, un peu moins sophistiqué que le Houmongi avec des motifs moins réguliers.</p></div></span>

		<span class="vignette_types v_taille_390">
			<center><img class="img_types" src="img/types_kimono/iromuji.jpg"></center>
			<div class="text_bas"><p><strong>Iromuji</strong><br>D'une seule couleur avec des motifs que sur les accessoires. </p></div></span>


		<span class="vignette_types v_taille_470">
			<center><img class="img_types" src="img/types_kimono/komon.jpg"></center>
			<div class="text_bas"><p><strong>Komon</strong><br>Kimono décontracté, de la vie de tous les jours, il posséde des motifs réparties de façon homogène sur toute sa surface. Avec un beau <i>obi</i>, il sera assez formel pour une sortie au restaurant.</p></div></span>

		<span class="vignette_types v_taille_470">
			<center><img class="img_types" src="img/types_kimono/edo_komon.jpg"></center>
			<div class="text_bas"><p><strong>Edo komon</strong><br>caractérisé par de minuscules points qui forment des motifs. Un <i>edo komon</i> est aussi formel qu'un <i>iromuji</i>; quand il comporte des <i>kamon</i> (un seul kamon étant le plus courant, mais il en existe avec trois), il peut être porté aux mêmes événements qu'un <i>tsukesage</i> ou <i>houmongi</i>.</p></div></span>

		<span class="vignette_types v_taille_470">
			<center><img class="img_types" src="img/types_kimono/yukata.jpg"></center>
			<div class="text_bas"><p><strong>Yukata</strong><br>Kimono d'été, fait de coton en général porté pour aller aux festivals, par les femmes, les hommes et les enfants. Le yukata est  également porté aux <i></i>onsens</i> (sources chaudes), où il est souvent fourni par l'établissement, on parle alors de <i></i>yukatabira</i>.</p></div></span>

		<span class="vignette_types v_taille_320">
			<center><img class="img_types" src="img/types_kimono/mofuku.jpg"></center>
			<div class="text_bas"><p><strong>Mofuku</strong><br>Pour les funérails.</p></div></span>

		<span class="vignette_types v_taille_320">
			<center><img class="img_types" src="img/types_kimono/haori.jpg"></center>
			<div class="text_bas"><p><strong>Haori</strong><br>Veste courte à porté sur le kimono.</p></div></span>

		<span class="vignette_types v_taille_320">
			<center><img class="img_types" src="img/types_kimono/michiyuki.jpg"></center>
			<div class="text_bas"><p><strong>Michiyuki</strong><br>Manteau porté sur le kimono avec un col de forme carré, se porte sans ceinture.</p></div></span>

		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/ama_michiyuki.jpg"></center>
			<div class="text_bas"><p><strong>Ama Michiyuki</strong/><br>Plus long que le Michiyuki, manteau qui protége de la pluie, et aide à garder le kimono sec. Souvent en soie, tissé fermement pour aider à repousser la pluie.</p></div></span>

		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/juban.jpg"></center>
			<div class="text_bas"><p><strong>Juban</strong><br>Aussi appelé <i>nagajuban</i>, c'est une robe sous-vêtement qui protége le kimono de la transpiration. il existe aussi un juban en 2 parties <i>hanjuban</i> et <i>susoyoke</i>.</p></div></span>

		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/hakama.jpg"></center>
			<div class="text_bas"><p><strong>Hakama</strong><br>Un pantalon ou robe plissée qui se porte sur le kimono.</p></div></span>

			<h3>Autres</h3>

		<span class="vignette_types v_taille_450">
			<center><img class="img_types" src="img/types_kimono/kakeshita.jpg"></center>
			<div class="text_bas"><p><strong>Kakeshita</strong><br>Kimono de mariage de la forme d'un <i>Furisode</i> avec des motifs éparts. Dernier Furisode portée par la furtur mariée.</p></div></span>

		<span class="vignette_types v_taille_450">
			<center><img class="img_types" src="img/types_kimono/shirokakeshita.jpg"></center>
			<div class="text_bas"><p><strong>Shirokakeshita</strong><br>Kimono blanc de mariage porté pendant la cérémonie <i>shinto</i>. Porté avec manteau blanc somptueux (<i>shiromuku uchikake</i>), Avec une coiffure habillé soit par un <i>tsunokakushi</i> (qui couvre les "cornes de la jalousie") ou un <i></i>wataboushi</i>.</p></div></span>

		<span class="vignette_types v_taille_450">
			<center><img class="img_types" src="img/types_kimono/uchikake.jpg"></center>
			<div class="text_bas"><p><strong>Uchikake</strong><br>Un incroyablement lourd et somptueux kimono utilisé comme un manteau par les mariées.</p></div></span>

		<span class="vignette_types v_taille_470">
			<center><img  class="img_types"src="img/types_kimono/susohiki.jpg"></center>
			<div class="text_bas"><p><strong>Susohiki et Hikizuri</strong><br>Porté pour la dance traditionnel, souvent par les <i>geisha</i> (<i>Susohiki</i> avec des manches courtes "kosode") et les <i>maiko</i> (<i>hikizuri</i> avec des manches furisode), il est plus long que la normale pour accompagner d'une façon esthétique les mouvements.</p></div></span>

		<span class="vignette_types v_taille_470">
			<center><img class="img_types" src="img/types_kimono/uppawari.jpg"></center>
			<div class="text_bas"><p><strong>Uppawari</strong><br>Veste à porter à la maison sur le kimono.</p> </div></span>
		
		<span class="vignette_types v_taille_470">
			<center><img class="img_types" src="img/types_kimono/dochougi.jpg"></center>
			<div class="text_bas"><p><strong>Dochougi</strong><br>Veste bien chaude à porter sur le kimono.</p></div></span>

		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/neneko.jpg"></center>
			<div class="text_bas"><p><strong>Neneko</strong><br>Veste chaude rembourrée avec les manches en partie fermées.</p></div></span>

		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/happi.jpg"></center>
			<div class="text_bas"><p><strong>Happi</strong><br>Souvent en coton, cette veste se porte pendant les festivals, à des événements d'entreprises ou de groupes divers.</p></div></span>


		<span class="vignette_types v_taille_360">
			<center><img class="img_types" src="img/types_kimono/hanten.jpg"></center>
			<div class="text_bas"><p><strong>Hanten</strong><br>Veste en coton un peu plus épaisse que le Happi porté par les livreurs et dans les festivals.</p></div></span>
	</span>
</section>

