<title>Vêtir un kimono</title>


<section class="s_large">

	<article class="vetir" id="vetir un kimono">

		<h1>Vêtir un kimono</h1>

		


	</article>

	<article  class="vetir" id="formalités">
		<h2>Degrés de formalité</h2>

		<p>Logiquement, la formalité d'un obi s'accorde avec celui d'un kimono, ils devront être du même rang ou de rang proche pour s'associer. A noter que les accessoires peuvent créer des nuances intermédiaires entre ces catégories et que tous les éléments aboutissent à un ensemble qui va dégager une impression, une atmosphère. Il est donc important de ne pas se focaliser uniquement sur l'obi ou le kimono, mais de comprendre la complexité qui s'installe entre les différents éléments qui composent la tenue et d'en trouver les bons rouages.</p>

		<table>
		<tr><td>Dai ichi reisou</td><td>Très formel</td></tr>
		<tr><td>Jun reisou</td><td>Formel</td></tr>
		<tr><td>Ryaku reisou</td><td>Semi-formel</td></tr>
		<tr><td>Gaishutugi</td><td>Casual / Informel</td></tr>
		<tr><td>Fudangi</td><td>Très informel</td></tr>
		</table>
	</article>

	<article class="vetir" id="se_deplacer">

		<h2>Se déplacer en kimono</h2>

		<p>Une femme japonaise habillée d'un kimono ou d'un petit tailleur semble très différente. En effet le port du kimono influence l'attitude de celle qui le revêt. <br>
		Préférer des petis pas, la lenteur à la vitesse, car l'ouverture du kimono sur le devant demande une vigilance permanente pour garder l'échancrure fermée. Pour se dépêcher, il faudra trottiner rapidement. Le torse étant contraint par les rambourages et le <i>obi</i>, les torsions du corps seront rendues difficile mais l'impression de maintien et d'élégance accrue. Les gestes devront être précis pourne rien renverser ou accrocher avec ses manches. De même que s'asseoir sur une chaise ou dans une voiture demandera de la rigueur et de la correction pour garder le noeud du kimono intact.</p>

		<p>Le vêtement est notre peau sociale. Spécialement <blockquote>"le vêtement traditionnel japonais soumis aux contraintes de la hiérarchie sociales tout en étant une représentation brillante d'une partie du "corps culturel"nippon. En effet, le kimono n'est pas seulement manifestation d'une appartenance sociale et parure, il est aussi philosophie, esthétique, poésie, il est art: un art portable.<a name="citation1" href="#1">(1)</a></blockquote></p>

		<p>Le kimono, c'est la possibilité de se faire oeuvre d'art.</p>


				<br>
		<a class="citation" name="citation1"><em>1:</em><strong> Aude Fieschi, Kimono d'art et de désir<em>Aude Fieschi, Kimono d'art et de désir, Arles , Editions Philippe Picquier, 2012 (2002), p.125/126.</em></strong></a>	
	</article>


</section>
