

<section class="s_large">

	<article class="vetir" id="vetir un kimono">

		<h1>Vêtir un kimono</h1>

	</article>


	<div class="s_2_colonnes" class="vetir" id="kit pour vetir kimono féminin">

		<article><h2>Kit pour vêtir un kimono féminin</h2></article>

		<div class="ajustement_vignette">
			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/hadagi.jpg"></a></center>
				<p><strong>Sous-vêtement</strong> japonais <i>hadagi, susoyoke</i> ou vos sous-vêtements.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/juban2.jpg"></a>
				<img class="vignette_img" src="img/vetir/juban1.jpg"></a></center>
				<p><strong>Nagajuban</strong>: se porte sous le kimono (il a la même forme). Blanc ou coloré selon l'esthétique recherchée.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/eri_shin.jpg"></a></center>
				<p><strong>Eri shin</strong>: bande de plastique qui rend le col du juban plus rigide (effet d'arrondi régulier).</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/koshihimo.jpg"></a>
				<img class="vignette_img" src="img/vetir/koshihimo1.jpg"></a></center>
				<p><strong>Koshihimo</strong>: petite ceinture de tissu qui permet de maintenir le kimono, il en faut au minimum 5. Spécial en élasrique pour ajuster à la fin.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/datejime.jpg"></a>
				<img class="vignette_img" src="img/vetir/datejime1.jpg"></a></center>
				<p><strong>Datejime</strong>: petite ceinture de soie de 5-6 cm de large qui se noue par-dessus le koshihimo pour un maintien efficace.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/obiage.jpg"></a>
				<img class="vignette_img" src="img/vetir/obiage1.jpg"></a></center>
				<p><strong>Obiage</strong>: ceinture fine en soie qui se noue à l'avant sous le obi dont on laisse une partie visible et qui maintient le obi en place.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/obijime1.jpg"></a><img class="vignette_img" src="img/vetir/obijime.jpg"></a></center>
				<p><strong>Obijime</strong>: cordelette de fils de soie tressés qui se noue à l'avant par-dessus et au milieu du obi.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/geta.jpg"></a>
				<img class="vignette_img" src="img/vetir/setta.jpg"></a></center>
				<p><strong>Hakimono</strong>: différents types de sandales (zôri, geta, setta) ou vos chaussures.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/kimono.jpg"></a></center><p><strong>kimono</strong></p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/obi.jpg"></a></center><p><strong>obi</strong></p></div>

			<h3> les ++</h3>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/hosei.jpg"></a></center>
				<p><strong>Hosei</strong>:  petites serviettes fines pliées et placées sur différentes parties du corps (taille, poitrine) afin d'en masquer les formes. Exixten en sous-vêtements déjà préparés.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/han_eri.jpg"></a>
				<img class="vignette_img" src="img/vetir/han_eri1.jpg"></a></center>
				<p><strong>Han eri</strong>: sorte de faux-col que l'on adapte sur le col du nagajuban; les nombreuses nuances de coloris, les différentes matières ou les broderies peuvent en faire un accessoire de luxe.</p></div>


			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/obi_makura1.jpg"></a>
				<img class="vignette_img" src="img/vetir/obi_makura.jpg"></a></center>
				<p><strong>Obi makura</strong>: petit coussin (en forme de haricot) indispensable à la formation du nœud du obi Otaiko. Il existe de nombreuses variantes.</p></div>

			<div class="vignette_vetir"><center><img class="vignette_img" src="img/vetir/obidome2.jpg"></a>
				<img class="vignette_img" src="img/vetir/obidome3.jpg"></a><img class="vignette_img" src="img/vetir/obidome4.jpg"></center>
				<p><strong>Obidome</strong>: petite broche décorative qui se glisse sur le obijime et se porte sur le devant au milieu du obi.</p></div>


			<div class="vignette_vetir2"><center><img class="vignette_img" src="img/vetir/accessore1.jpg"></a>
				<img class="vignette_img" src="img/vetir/bag.jpg"></a>
				<img class="vignette_img" src="img/vetir/hakoseko.jpg"></a>
				<img class="vignette_img" src="img/vetir/kanzashi.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_hair.jpg"></a>
				<img class="vignette_img" src="img/vetir/fan.jpg"></a></center>
				<p>Pochette, sac, éventail, épingles à cheveux, breloques diverses...</p></div>

			<div class="vignette_vetir2"><center><img class="vignette_img" src="img/vetir/clips.jpg"></a>
				<img class="vignette_img" src="img/vetir/korinbelt.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_obi1.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_obi2.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_obi3.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_obi4.jpg"></a>
				<img class="vignette_img" src="img/vetir/mae_ita.jpg"></a>
				<img class="vignette_img" src="img/vetir/accessorie_juban.jpg"></a></center>
				<p><strong>Autres accessoires pour vous aider à mettre en place le kimono</strong><br>
					<br>1. Clips pour aider à maintenir le kimono pendant qu'onl'ajuste. 
					<br>2. La Corin belt, qui sert à tenir les pans du kimono (en passant par l'ouverture d'une manche.
					<br>3 et 4. Cordes élastiques qui permettent d'aider à nouer et mette en place le obi.<br>

					<br>5. Bande plastique large avec élastique qui aide à déplacer le obi quand on fait le noeud seul à l'avant.
					<br>6. Bande plastique fine qui permet de garder le plis du kimono visite sousle obi bien lisse et continue.
					<br>7. Mae ita, petite planchette de plastique qui se place à l'avant entre deux plis du obi afin d'en souligner la ligne et d'éviter les plis. 
					<br>8. <i></i>Chikara nuno</i>, langue de tissu que l'on peut coudre à l'arrière du juban pour avoir un belle effet découvrant la nuque. Il existe des juban déjà équipés.</p></div>
		</div>
	</div>



	<article  class="vetir" id="formalités">
		<h2>Degrés de formalité</h2>

		<p>Logiquement, la formalité d'un obi s'accorde avec celui d'un kimono, ils devront être du même rang ou de rang proche pour s'associer. A noter que les accessoires peuvent créer des nuances intermédiaires entre ces catégories et que tous les éléments aboutissent à un ensemble qui va dégager une impression, une atmosphère. Il est donc important de ne pas se focaliser uniquement sur l'obi ou le kimono, mais de comprendre la complexité qui s'installe entre les différents éléments qui composent la tenue et d'en trouver les bons rouages.</p>

		<table>
		<tr><td>Dai ichi reisou</td><td>Très formel</td></tr>
		<tr><td>Jun reisou</td><td>Formel</td></tr>
		<tr><td>Ryaku reisou</td><td>Semi-formel</td></tr>
		<tr><td>Gaishutugi</td><td>Casual / Informel</td></tr>
		<tr><td>Fudangi</td><td>Très informel</td></tr>
		</table>
	</article>

	<article class="vetir" id="se_deplacer">

		<h2>Se déplacer en kimono</h2>

		<p>Une femme japonaise habillée d'un kimono ou d'un petit tailleur semble très différente. En effet le port du kimono influence l'attitude de celle qui le revêt. <br>
		Préférer des petis pas, la lenteur à la vitesse, car l'ouverture du kimono sur le devant demande une vigilance permanente pour garder l'échancrure fermée. Pour se dépêcher, il faudra trottiner rapidement. Le torse étant contraint par les rambourages et le <i>obi</i>, les torsions du corps seront rendues difficile mais l'impression de maintien et d'élégance accrue. Les gestes devront être précis pourne rien renverser ou accrocher avec ses manches. De même que s'asseoir sur une chaise ou dans une voiture demandera de la rigueur et de la correction pour garder le noeud du kimono intact.</p>

		<p>Le vêtement est notre peau sociale. Spécialement <blockquote>"le vêtement traditionnel japonais soumis aux contraintes de la hiérarchie sociales tout en étant une représentation brillante d'une partie du "corps culturel"nippon. En effet, le kimono n'est pas seulement manifestation d'une appartenance sociale et parure, il est aussi philosophie, esthétique, poésie, il est art: un art portable.<a name="citation1" href="#1">(1)</a></blockquote></p>

		<p>Le kimono, c'est la possibilité de se faire oeuvre d'art.</p>


				<br>
		<a class="citation" name="citation1"><em>1:</em><strong> Aude Fieschi, Kimono d'art et de désir<em>Aude Fieschi, Kimono d'art et de désir, Arles , Editions Philippe Picquier, 2012 (2002), p.125/126.</em></strong></a>	
	</article>


</section>
