/* Eléments principaux de la page */

body {
	width: 1400px;
	height: auto;
	margin: auto;
	background-color: grey;
}

header {
	height: 350px;
	width: 1400px;
	margin: auto;
}
	
#bloc_page {
	width: 1200px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    background-color: #281914;
}

/*entête header*/

#home_img{
	z-index:1;
	display: inline;
	position: relative;
}

#contact_icon{
	display: inline;
	position: relative;
	top: -165px;
	left: 600px;
	z-index:2;
}


/* général */

section {

}

.s_etroit {
	width: 800px;
	height: auto;
	min-height: 710px;
	padding: 0px 0px 50px 210px;
	margin-top: 0px;
}

.s_large {
	width: 1000px;
	height: auto;
	min-height: 710px;
	margin: 0px 40px 20px 0px;
	border: auto;
}

.s_large_min {
	width: 1000px;
	height: auto;
	margin: 20px 0px 20px 0px;
	border: auto;	
}

.s_vignette {
	width: 960px;
	height: auto;
	border: auto;
	padding: 20px 20px 20px 20px;
	background-color: white;
}

.s_2_colonnes {
	width: 1000px;
	height: auto;
	margin: 0px 40px 20px 0px;
	padding: auto;
	background-color: white;
}


article{
	margin: 20px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	background-color: white;
	text-decoration: none;
}


nav a{
	text-decoration: none;
}

ul
{
	list-style-type: none;
	padding-left: 0px;
}

h1 {
	font-size: 2em;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
	text-align: center;
	color: #8A0829;
}

h2 {
	font-size: 1.6em;
    font-family: 'Vibur', cursive;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #72146D;
    background-color: white;
    padding: 0px 0px 0px 0px;
}

h3{
	font-size: 1.5em;
	font-family: 'Vibur', cursive;
    color: #9F81F7;
    padding: 0px 0px 0px 20px;
}

.handwritting /*style pour petit mot de l'auteur*/ {
	font-family: 'Redressed', cursive;
	font-weight: bold;
	font-size: 1.3em;
}
a, p {
	font-size: 1em;
	font-family: Helvetica;
	color:#2E2E2E;
}



blockquote {
	font-size: small;
	font-style: italic;
}

.citation {
	font-size: small;
}


/* spécificités des pages */

.atakikoo_img /*a_propos*/{
    float: left;
    padding: 25px;
}

.walk_img /*vetir*/ {
	float: right;
	padding: 10px 25px 10px 25px;
}
td { /*vetir*/
	padding: 2px 10px 2px 10px;
}

.ajustement_vignette { /*types, vetir*/
	margin: 17px 0px 17px 0px;
	border: 1px solid white;
}

.vignette_types { /*types*/
	display: inline-block;
	vertical-align: top;
	width: 270px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 13px;
	background: white;
	text-align: justify;
	position: relative;
	border: 2px solid #281914;

}

.vignette_vetir { /*vetir*/
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 416px;
	height: 350px;
	padding: 20px;
	margin: 20px;
	background: white;
	text-align: justify;
	border: 2px solid #281914;
}

.vignette_vetir2 { /*vetir*/
	display: inline-block;
	vertical-align: top;
	width: 916px;
	height: auto;
	padding: 20px;
	margin: 20px;
	background: white;
	text-align: justify;
	border: 2px solid #281914;
}

/*vetir taille vignette*/
.v_taille_420 {
	height: 430px;
}

.v_taille_390 {
	height: 410px;
}

.v_taille_470 {
	height: 490px;
}

.v_taille_320 {
	height: 320px;
}

.v_taille_360 {
	height: 380px;
}

.v_taille_450 {
	height: 480px;
}

/* vignette vetir place text en bas*/
.text_bas {
	padding: 10px 20px 0px 0px;
	position: absolute;
	bottom: 0px;
}


