/* Eléments principaux de la page */

body {
	width: 1400px;
	height: auto;
	margin: auto;
	background-color: grey;
	font-family: Helvetica;
}

header {
	height: 350px;
	width: 1400px;
	margin: auto;
}
	
#bloc_page {
	width: 1200px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    background-color: #281914;
}

/*entête header*/

#home_img{
	z-index:1;
	display: inline;
	position: relative;
}

#contact_icon{
	display: inline;
	position: relative;
	top: -165px;
	left: 600px;
	z-index:2;
}


/* général */

section {

}

.s_etroit {
	width: 680px;
	height: auto;
	min-height: 710px;
	padding: 0px 0px 50px 250px;
	margin-top: 60px;
}

.s_large {
	width: 950px;
	height: auto;
	min-height: 710px;
	margin: 60px 40px 20px 20px;
	border: auto;
}

.s_large_min {
	width: 950px;
	height: auto;
	margin: 60px 40px 20px 20px;
	border: auto;	
}

.s_vignette {
	width: 950px;
	height: auto;
	border: auto;
	margin: 10px;
	padding: 20px 20px 20px 20px;
}


article{
	margin-top: 20px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	background-color: white;
	text-decoration: none;
}

#id_vignette {
	margin-top: 20px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	text-decoration: none;
}


nav a{
	text-decoration: none;
}

ul
{
	list-style-type: none;
	padding-left: 0px;
}

h1 {
	font-size: 2em;
    font-family: Helvetica;
    font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #8A0829;
}

h2 {
	font-size: 1.3em;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #72146D;
}

h3{
	font-size: 1.2em;
	font-family: Helvetica;
    color: #9F81F7;
}

a, p {
	font-size: 1em;
	color:#2E2E2E;
}

blockquote {
	font-size: small;
	font-style: italic;
}

.citation {
	font-size: small;
}


/* spécificités des pages */

.atakikoo_img /*a_propos*/{
    float: left;
    padding: 25px;
}

td {
	padding: 2px 10px 2px 10px;
}

.vignette {
	display: inline-block;
	vertical-align: top;
	background: white;
	width: 270px;
	height: auto;
	padding: 10px;
	margin: 10px;
	text-align: justify;

}

#vignette_img {
	padding: 10px;
}
